* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin: 2px 0 2px;
}

html {
  font-family: "Roboto", serif;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  background-image: linear-gradient(to left, #2f4858, #33658a);
}

.logo {
  padding: 14px 0;
  text-align: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
  background-image: url("../asset/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
}

header {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  width: 100%;
}

nav ul {
  padding-top: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;
}

ul li.active {
  border-bottom: 2px solid grey;
}

ul li {
  list-style: none;
  margin-right: 12px;
  cursor: pointer;
}

footer {
  position: fixed !important;
  color: white;
  background: #2f4858;
  font-size: 16px;
  font-weight: 300;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;
  text-align: left;
}

.footer-text {
  font-size: 12px !important;
  font-family: roboto, serif;
  color: white;
  font-weight: 200 !important;
  margin: 0;
}

.menu-item {
  font-family: roboto, serif;
  color: white;
}

img {
  width: 136px;
  height: auto;
}

.icon {
  font-size: 16px;
  color: white;
}

.heart:hover {
  cursor: pointer;
  color: rgb(180, 179, 179);
}

.red {
  color: crimson;
}

.showItem {
  background-color: #2f4858;
}

.name,
.comment {
  font-size: 12px;
  font-weight: normal;
  color: white;
  inline-size: 110px;
  overflow-wrap: break-word;
}

.comment {
  cursor: pointer;
  background-color: transparent;
}

.likes {
  font-size: 12px;
  font-weight: normal;
  color: white;
  text-align: right;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(58 69 124 / 40%);
  padding-bottom: 100px;
}

.card-container {
  background-color: #fff;
  width: 60%;
  height: 100vh;
  margin: auto;

  /* padding: 16px; */
  border: none;
}

.header-container {
  margin: auto;
  border: none;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;

  /* margin-top: 12px; */
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  top: 0;
  justify-content: flex-end;
  position: relative;
  margin-top: 0;
  padding: 10px;
}

.modal-body {
  width: 100%;
  background-color: #fff;
  margin: auto;
}

.image-container {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.modal-body img {
  text-align: center;
  width: 60%;
  height: 10%;
}

ul.comment-list {
  width: 100%;
}

ul.comment-list li {
  border: 1px solid rgb(249, 246, 246);
  margin-top: 12px;
  padding: 12px;
}

ul.menu li:hover {
  border-bottom: 2px solid grey;
}

ul.comment-list li:hover {
  text-decoration: none;
}

.form-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

form button,
textarea,
input[type="text"] {
  margin-bottom: 24px;
  padding: 10px;
}

.genres {
  display: flex;
  justify-content: space-around;
  height: 20px;
  font-weight: bold;
}

#message {
  color: green;
  height: 10px;

  /* font-weight: bold; */
  display: none;
}

@media screen and (min-width: 1024px) and (max-height: 600px) {
  .card-container {
    background-color: #fff;
    width: 60%;
    height: 100vh;
    margin: auto;

    /* padding: 16px; */
    border: none;
  }

  h3 {
    font-size: 16px;
    margin: 10px 0 10px;
  }

  .modal-body img {
    width: 50%;
    padding-top: 0;
    height: 5%;
  }

  ul.comment-list li {
    border: 1px solid rgb(249, 246, 246);
    margin-top: 4px;
    padding: 7px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 504px) {
  .tvshow-list {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
  }

  .flex-sm {
    width: 100%;
    flex: 1 !important;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .showItem {
    max-width: 100% !important;
    margin: 20px 40px !important;
  }

  .hide {
    display: none;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: 30px;
  }

  .card-container {
    width: 90%;
  }

  .modal-body img {
    margin-left: 0;
    width: 80%;
  }
}
