html {
  font-family: 'Roboto', serif;
}

body {
  color: grey;
}

.logo{
  padding: 19px;
  border-radius: 100%;
  border: 2px solid rgb(198, 192, 185);
  text-align: center;
  height: 70px;
  width: 70px;
  cursor: pointer;

}

header {
  top: 0;
  padding: 70px 0 100px ;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul {
  padding-top: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  height: inherit;
  
}

ul li.active {
  border-bottom: 2px solid grey;
}

ul li {
  
  list-style: none;
  margin-right: 12px;
  cursor: pointer;
}

ul li:hover {
  border-bottom: 2px solid grey;
}
